/*
 * Main layout containers
 **************************************/
body {
}
body #app {
    font-family: "Helvetica Neue";
    width: 660px;
    margin: 50px auto 0px auto;
}

/*
 * Sessions
 **************************************/
body #app .sessions {
    list-style-type: none;
}
body #app .sessions .session {
    margin: 30px 0px 15px 0px;
    padding: 10px;
}
body #app .sessions .session h1 {
    font-size: 28px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: top;
}
body #app .sessions .session h2 {
    font-size: 18px;
    margin-bottom: 5px;
}
body #app .sessions .session .tags {
    list-style-type: none;
}
body #app .sessions .session .tags .tag {
    display: inline-block;
    vertical-align: top;
    padding: 5px 7px 5px 7px;
    background: #72B372;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #5D945D;
    margin-right: 5px;
    border-radius: 3px;
}

