/*
 * Main layout containers
 **************************************/
body {
}
body #app {
    font-family: "Helvetica Neue";
    width: 60%;
    max-width: 700px;
    margin: 2em auto;
    border: solid 1px #ccc;
}

/*
 * Sessions
 **************************************/
body #app .sessions-list {
    list-style-type: none;
}
body #app .sessions-list .session {
    padding: 1em;
}
body #app .sessions-list .session h1 {
    font-size: 2em;
    margin-bottom: 0.3em;
    display: inline-block;
    vertical-align: top;
}
body #app .sessions-list .session h2 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
}
body #app .sessions-list .session .tags {
    list-style-type: none;
}
body #app .sessions-list .session .tags .tag {
    display: inline-block;
    padding: 0.3em 0.5em;
    background: #72B372;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #5D945D;
    margin-right: 0.3em;
    border-radius: 3px;
}

