/* -------------
THIS DOCUMENT SHOULD ONLY CONTAIN COMMON STYLES AND BASIC LAYOUT STYLES
-----------------*/

/* FONT IMPORT - WILL NOT WORK UNTILL WE ARE ON THE RIGHT DOMAIN */
@import url("http://fnt.webink.com/wfs/webink.css?project=048E1F9E-653B-46E4-95B5-B105967752C5&fonts=C62E2C20-BEE2-86B6-FE22-96C38B6818CF:family=AbrilText-Bold,459E4BD0-C12A-EE14-2ABB-37D7192D1AAA:family=AbrilText-ExtraBold,20615D9B-B1A8-988E-EF5E-4BF7DB5C8886:family=AbrilText-ExtraBoldItalic,3E55D2F1-1F5E-63EE-5EC0-8AE57E0AB083:family=AbrilText-Regular");

/* BASE TYPOGRAPHY */
body { font: normal normal normal 1em/1.2em 'AbrilText', Georgia, Serif; }

h1 {
    font-size: 1.3em;
    line-height: 1.3em;
    margin-bottom: 0.3em;
    margin-top: 1em;
    }

h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    }

h3 {}

p { max-width: 550px; }

a {
    text-decoration: underline;
    font-weight: bold;
    color: #000;
    }

a:hover { text-decoration: none; }

/* Elements */
html {
    background: #6cfffe url(../graphics/bg_dots.png) top center repeat; 
    }

body { 
    min-width: 280px;
    }


/* MAIN LAYOUT CONTAINERS */
#wrapper {
    width: 94%;
    margin: 0.5em auto 1em;
    border: none;
    }

/* Header */
#mastHead {
    text-align: center;
    display: table;
    width: 100%;
    }

    #mastHead hgroup {
        float: left;
        width: 25%;
        max-width: 120px;
        overflow: hidden;
        }

        #mastHead hgroup a.logo { height: 100%; }

        #mastHead img { width: 100%; }

        #mastHead h1, #mastHead h2 { display: none; }

/* Footer */
footer { 
    margin: 8em auto 0;
    font-size: 0.65em; 
    text-align: center;
    width: 80%; 
    }

/* REUSABLES */

    /* SESSION LIST */
    .sessions-list ul {
        list-style-type: none;
        border-top: 1px solid #fff;
        }

        .sessions-list li {
            padding: 0.5em 0;
            border-bottom: 1px solid #fff;
            position: relative;
            }

        .session h1{ margin-top: 0; }

        .sessions-list li.lightningTalk {
            /* TODO: style lightning talks differently */
            }

            input.favourite { 
                visibility: hidden;
                position: absolute;
                right: 0;
                width: 35px;
                height: 35px;
                }

            label.favourite { 
                position: absolute;
                right: 0;
                margin-top: -5px;
                }

            label.favourite {
                text-indent: -999em;
                overflow: hidden;
                width: 35px;
                height: 35px;
                display: block;
                content: "";
                color: red;
                background: transparent url(../graphics/fav_no.png) center no-repeat;
                }
            
            @media only screen and (-webkit-min-device-pixel-ratio:1.5) { 
                label.favourite { 
                    background-image: url(../graphics/fav_no_highRes.png);
                    background-size: 30px;
                }
            }

            input.favourite:checked + label { background-image: url(../graphics/fav_yes.png); }

            @media only screen and (-webkit-min-device-pixel-ratio:1.5) { 
                input.favourite:checked + label { 
                    background-image: url(../graphics/fav_yes_highRes.png); 
                    background-size: 30px;
                }
            }

            .sessions-list h1 { 
                margin-bottom: 0; 
                margin-right: 40px;
                }

            .sessions-list h1 a { text-decoration: none; }

            .sessions-list small, .sessions-list h2 {
                font-family: Trebuchet, Verdana, sans-serif;
                font-size: 0.8em;
                }

            .sessions-list h2 { display: inline; }

    /* TAGS */
    .tags { 
        list-style-type: none; 
        margin-top: 20px;
        }

        .tag {
            display: inline-block;
            padding: 0.3em 0.5em;
            background: rgb(155, 229, 153);
            color: #000;
            font-size: 0.7em;
            font-family: Trebuchet, Verdana, sans-serif;
            margin: 0 0.3em 0.5em 0;
            border-radius: 3px;
            cursor: pointer;
            }
        .tag:hover, .tag:focus { background: rgb(241, 254, 126); }

/* SEARCH */
.searchbar {
    text-align: center;
    clear: both;
    }
    
    .searchbar .header {
        }
    
        .searchbar .header h3 {
            padding: 0.3em;
            margin: 1em 0 0.5em 0;
            font-size: 0.9em;
            font-family: Trebuchet, Verdana, sans-serif;
            font-weight: bold;
            text-decoration: underline;
            }
        
            .searchbar .header h3 a {
                }
    
    .searchbar .inner {
        display: none;
        }
    
    .searchbar .inner .searchTermContainer {
        margin-bottom: 0.7em
        }
        
        .searchbar .inner .searchTermContainer .searchTerm {
            margin: 0;
            font-size: 1em;
            font-weight: normal;
            width: 96%;
            border: none;
            border-radius: 3px;
            padding: 0.4em 2%;
            box-shadow: inset 0px 0px 12px 1px rgba(20, 20, 20, 0.1);
        }
    
    .searchbar .inner .buttonsContainer {
        }
        
        .searchbar .inner .buttonsContainer .search,
        .searchbar .inner .buttonsContainer .reset {
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 0 0.4em;
            }
    
        .searchbar .inner .buttonsContainer .search {
            font-family: Trebuchet, Verdana, sans-serif;
            background-color: #BCED6D;
            border-radius: 3px;
            text-transform: uppercase;
            padding: 0.4em 2em;
            }
        .searchbar .inner .buttonsContainer .search:hover,
        .searchbar .inner .buttonsContainer .search:focus {
            background-color: #F1FE7E;
            }
    
        .searchbar .inner .buttonsContainer .reset {
            font-family: Trebuchet, Verdana, sans-serif;
            font-weight: normal;
            text-decoration: underline;
            }
        .searchbar .inner .buttonsContainer .reset:hover,
        .searchbar .inner .buttonsContainer .reset:focus {
            color: #000;
            }


@media all and (min-width: 321px) {
  #mastHead hgroup {}
}

@media all and (min-width: 400px) {
    #mastHead { margin-bottom: 10px; }    
}/* /media all min-width 400px  */

/* FULLWIDTH */
@media all and (min-width: 760px) {

    body { padding-top: 2em; } 

    #wrapper {
        width: 80%;
        max-width: 675px;
        }

    #app-content { margin-top: 1em; }

    .searchbar {
        }

    #mastHead hgroup { 
        width: 100%;
        max-width: 100%;
        text-indent: 0; 
        margin-bottom: 20px;
        text-align: left;
        }

        #mastHead hgroup a.logo { 
            display: table; 
            height: 100%;
            text-decoration: none;
            }

        #mastHead img { 
            float: left;
            width: 20%;
            max-width: 130px;
            margin-right: 2%;
            }

        #mastHead h1 { margin-top: 20px;}

        #mastHead h1, #mastHead h2 {
            display: block;
            margin-bottom: 0;
            text-decoration: none;
            float: left;
            width: 78%;
            clear: right;
            }
    
} /* /media all min width 600px */