.speakers-list ul { }

	.speakers-list li {
		border-bottom: 1px solid #fff;
		padding: 0.5em 0;
		cursor: pointer;
		}
	
	.speakers-list li:hover,
	.speakers-list li:focus {
	    }

	.speakers-list .speaker h2 {
		float: left;
		width: 75%;
		}

.speaker {
	clear: left;
	overflow: auto;
	}

	.speaker h1 {
		float: left;
		width: 65%;
		margin-top: 10px;
		}

	.speaker img {
		float: left;
		width: 50px;
		margin-right: 2%;
		margin-bottom: 5px;
		display: block;
		background-color: rgba(0, 0, 0, 0.1);
		}

	.speaker p { clear: both; }

	.speaker h2 { padding-top: 20px; }

		.speaker ul li {
			list-style-type: disc;
			margin-left: 20px;
			margin-bottom: 5px;
			}