.speakers-list ul { }

	.speakers-list li {
		border-bottom: 1px solid #fff;
		padding: 1.2em 0 0.7em;
		cursor: pointer;
		}
	
	.speakers-list li:hover, .speakers-list li:focus { background-color: #06F4ED; }

	.speakers-list .speaker h2 {
		float: left;
		width: 75%;
		}

.speaker {
	clear: left;
	overflow: auto;
	}

	.speaker h1 {
		float: left;
		width: 75%;
		margin-top: 10px;
		}

	.speaker img {
		float: left;
		width: 10%;
		min-width: 70px;
		margin-right: 2%;
		margin-bottom: 5px;
		display: block;
		}

	.speaker p {
		clear: both;
		}

	.speaker h2 {
		padding-top: 20px;
		}

	.speaker ul { }

		.speaker ul li {
			list-style-type: disc;
			margin-left: 20px;
			margin-bottom: 5px;
			}