<!DOCTYPE html>
<html lang="nb-no"><!-- manifest="/cache.manifest" -->
    <head>        
        <meta charset="utf-8">
        <meta name="description" content="Årets utviklerevent i Trondheim - internasjonale, nasjonale og lokale foredragsholdere">
        <title>TDC program</title>
    
        <link href="http://fnt.webink.com/wfs/webink.css/?project=048E1F9E-653B-46E4-95B5-B105967752C5&fonts=C62E2C20-BEE2-86B6-FE22-96C38B6818CF:f=AbrilText-Bold,459E4BD0-C12A-EE14-2ABB-37D7192D1AAA:f=AbrilText-ExtraBold,20615D9B-B1A8-988E-EF5E-4BF7DB5C8886:f=AbrilText-ExtraBoldItalic,3E55D2F1-1F5E-63EE-5EC0-8AE57E0AB083:f=AbrilText-Regular" rel="stylesheet" type="text/css"/>
        <link rel="author" href="humans.txt">
        <link rel="shortcut icon" href="graphics/favicon.ico">
            
        <!-- Mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">
        <meta name="HandheldFriendly" content="true">
        
        <!-- iPhone / iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-startup-image" href="graphics/iOS/startup.png">
        <link rel="apple-touch-icon" href="graphics/iOS/touch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="72x72" href="graphics/iOS/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="114x114" href="graphics/iOS/touch-icon-iphone4.png">
    
        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/default.css">
        <link rel="stylesheet" type="text/css" href="css/navigation.css">
        <link rel="stylesheet" type="text/css" href="css/sessions.css">
        <link rel="stylesheet" type="text/css" href="css/speakers.css">
        <link rel="stylesheet" type="text/css" href="css/sessiondetailview.css">
        <link rel="stylesheet" type="text/css" href="css/timeslots.css">
        
        <!-- Scripts -->
        <script type="text/javascript" src="js/vendor/modernizr-2.5.3.min.js"></script>
        <script type="text/javascript" src="js/vendor/ga.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="searchbar">
                <input class="searchTerm" type="text" placeholder="Søk etter foredrag..." />
                <a href="#" class="search">Søk</a>
                <a href="#" class="reset">x</a>
            </div>

            <header id="mastHead">
                <hgroup>
                    <a href="/" class="logo" title="hjem">
                        <img src="graphics/app_logo.jpg" alt="TDC logo" />
                        <h1>Trondheim Developer Conference</h1>
                        <h2>Rica Nidelven, 29.10.2012</h2>
                    </a>
                </hgroup>
                <nav>
                    <ul>
                        <li class="odd">
                            <a href="sessions">Foredrag</a>
                        </li>
                        <li class="even speakers">
                            <a href="speakers">Talere</a>
                        </li>
                        <li class="odd">
                            <a href="favourites">Favoritter</a>
                        </li>
                        <!-- <li class="even last">
                            <a href="tweets">Kvitter</a>
                        </li>-->
                    </ul>
                </nav>
            </header>
            <section id="app-content">
                <!-- Content loaded in here dynamically -->
                Loading...
            </section>
            <footer>
                <p>
                    Trondheim Developer Conference er et samarbeid mellom fagmiljøene i Trondheim.
                    <a href="http://www.trondheimdc.no">www.trondheimdc.no</a>
                    <address><a href="mailto:connect@trondheimdc.no" title="Kontakt oss via e-post">connect@trondheimdc.no</a></address>
                </p>
            </footer>
        </div>
        
        <!-- Template: Timeslots List and Speakers List -->
        <script id="list-template" type="text/template">
            <ul></ul>
        </script>
        
        <!-- Template: Timeslot -->
        <script id="timeslot-template" type="text/template">
            <div class="timeslot-header">
                <%= moment(starts).format("HH:mm") %> -
                <%= moment(ends).format("HH:mm") %>
                <% if (title) { %>
                    <span><%= title %></span>
                <% } %>
            </div>
        </script>
        
        <!-- Template: Sessions List -->
        <script id="sessions-list-template" type="text/template">
            <ul class="sessions"></ul>
        </script>
        
        <!-- Template: Session -->
        <script id="session-template" type="text/template">
            <input class="favourite" id="sessionId-<%= id %>" type="checkbox"  <% if(favourited){ %> checked <% } %> />
            <label class="favourite" for="sessionId-<%= id %>">Favoritt</label>
            <h1 class="title"><a href="/sessions/<%= id %>"><%= title %></a></h1>
            <h2>
                av
                <% _.each(speakers, function(speaker, index) { %>
                    <a class="speaker" href="speakers/<%= speaker.id %>"><%= speaker.name %></a>
                <% }); %>
            </h2>
            <small>
                på spor <%= track %>,
                kl <%= moment(starts).format("HH:mm") %> - <%= moment(ends).format("HH:mm") %>
                (<%= duration %> mins)
            </small>
            <div class="tags">
                <% _.each(tags, function(tag, index) { %>
                    <span class="tag"><%= tag %></span>
                <% }); %>
            </div>
        </script>
        
        <!-- Template: Session Detail -->
        <script id="session-detail-template" type="text/template">
            <h1><%= title %></h1>
            <div class="speakers">
                av 
                <% _.each(speakers, function(speaker, index) { %>
                        <a href="speakers/<%= speaker.id %>"><%= speaker.name %></a>
                        <% if (index+1 !== speakers.length) print('og') %>
                <% }); %>
                på spor <%= track %>, kl <%= moment(starts).format("HH:mm") %> - <%= moment(ends).format("HH:mm") %>
            </div>

            <p><%= abstract %></p>
                    
            <div class="tags">
                <ul>
                <% _.each(tags, function(tag, index) { %>
                    <li class="tag">
                        <span><%= tag %></span>
                    </li>
                <% }); %>
                </ul>
            </div>
        </script>
        
        <!-- Template: Speaker -->
        <script id="speaker-template" type="text/template">
            <img src="http://trondheimdc.no/<%= image %>" alt="bilde av <%= name %>">
            <h2><%= name %></h2>
        </script>

        <!-- Template: Speaker Detail -->
        <script id="speaker-detail-template" type="text/template">
            <% if (image != "") { %>
                <img src="http://trondheimdc.no/<%= image %>" alt="Bilde av <%= name %>" />
            <% } %>
            <h1><%= name %></h1>
            <% if (about) { %>
                <p><%= about %></p>
            <% } %>

            <h2>Foredrag:</h2>
            <ul>
            <% _.each(sessions, function(session, index) { %>
                <li>
                    <a href="sessions/<%= session.id %>"><%= session.title %></a>
                </li>
            <% }); %>
            </ul>
        </script>
        
        <!-- Template: Twitter List -->
        <script id="twitter-list-template" type="text/template">
            <ul class="tweets"></ul>
        </script>
        
        <!-- Template: Tweet -->
        <script id="twitter-template" type="text/template">
            <h2><a href="http://www.twitter.com/<%= from_user %>">@<%= from_user %></a></h2>
            <p><%= text %></p>
        </script>
        
        <!-- Scripts: Theirs -->
        <script type="text/javascript" src="js/vendor/json2.min.js"></script>
        <script type="text/javascript" src="js/alex/json-android-fix.js"></script>
        <script type="text/javascript" src="js/vendor/es5-shim.min.js"></script>
        <script type="text/javascript" src="js/vendor/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/vendor/underscore-1.3.3.min.js"></script>
        <script type="text/javascript" src="js/vendor/backbone-0.9.2.min.js"></script>
        <script type="text/javascript" src="js/vendor/moment-1.7.2.min.js"></script>
        
        <!-- Scripts: Ours -->
        <script type="text/javascript" src="http://trondheimdc.no/data.js"></script>
        
        <script type="text/javascript" src="js/app/models/Session.js"></script>
        <script type="text/javascript" src="js/app/models/Speaker.js"></script>
        
        <script type="text/javascript" src="js/app/collections/SessionsList.js"></script>
        <script type="text/javascript" src="js/app/collections/SpeakersList.js"></script>
        
        <script type="text/javascript" src="js/app/views/TDCView.js"></script>
        <script type="text/javascript" src="js/app/views/SessionsByTimeslotListView.js"></script>
        <script type="text/javascript" src="js/app/views/TimeslotView.js"></script>
        <script type="text/javascript" src="js/app/views/SessionView.js"></script>
        <script type="text/javascript" src="js/app/views/FavouritedSessionView.js"></script>
        <script type="text/javascript" src="js/app/views/SessionsListView.js"></script>
        <script type="text/javascript" src="js/app/views/SessionDetailView.js"></script>
        <script type="text/javascript" src="js/app/views/FavouritesListView.js"></script>
        <script type="text/javascript" src="js/app/views/SpeakerView.js"></script>
        <script type="text/javascript" src="js/app/views/SpeakersListView.js"></script>
        <script type="text/javascript" src="js/app/views/SpeakerDetailView.js"></script>
        <script type="text/javascript" src="js/app/views/TwitterListView.js"></script>
        <script type="text/javascript" src="js/app/views/TwitterView.js"></script>
        <script type="text/javascript" src="js/app/views/AppView.js"></script>
        
        <script type="text/javascript" src="js/app/routers/AppRouter.js"></script>
        <script type="text/javascript" src="js/app/main.js"></script>
    </body>
</html>