<html>
<head>
  <title>Talks list</title>

  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  
  <link rel="stylesheet" type="text/css" href="./app.css">

  <script type="text/javascript">
    window.bootstrapData = {
      talks: [
        {
          title: "Html5 and progressive enhanchment",
          speaker: "Alex York",
          tags: ["html5", "design", "progressive-enhancement", "js"]
        },
        {
          title: "Javascript game development",
          speaker: "Pål strøm",
          tags: ["js", "games"]
        },
        {
          title: "Importance of meetups",
          speaker: "Hege Røkenes",
          tags: ["meetups", "social", "mingeling"]
        },
        {
          title: "Kittens and retina displays",
          speaker: "Alex York",
          tags: ["html5", "Kittens", "retina", "web"]
        },
        {
          title: "AMD modules",
          speaker: "Trygve lie",
          tags: ["js", "modulepattern", "web"]
        }
      ]
    }
  </script>

</head>
<body>
  

  <section id="app"></section>

  <!-- talk view template -->
  <script id="talk-template"type="text/template">
    <h1><%= title %></h1>
    <h2><%= speaker %></h2>
    <ul class="tags">
    <% _.each(tags, function( tag ){ %>
      <li class="tag"><%= tag %></li>      
    <% }); %>
    </ul>
  </script>
  
  <!-- talksList view template -->
  <script id="talks-list-template"type="text/template">
    <div class="searchbar">
      <input type="text"/>
      <div class="search">search</div> 
      <div class="reset">×</div>     
    </div>
    <ul class="talks"></ul>  
  </script>

  <!-- using requirejs to fetch the js/app/main.js -->
  <script type="text/javascript" src="./js/vendor/require.js" data-main="./js/app/main.js"></script>

</body>
</html>