*{
  margin: 0px;
  padding: 0px;
}

body #app {
  font-family: "Helvetica Neue";
  width: 560px;
  margin: 50px auto 0px auto;
}

body #app #talks-list {
  
}

body #app #talks-list .searchbar{
  
}

body #app #talks-list .searchbar input{
  display: inline-block;
  vertical-align: top;
  width: 438px;
  height: 32px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: inset 0px 0px 12px 1px rgba(20,20,20, 0.1);
}
body #app #talks-list .searchbar .search{
  display: inline-block;
  vertical-align: top;
  height: 30px;
  width: 70px;
  line-height: 27px;
  text-align: center;
  border: 1px solid #3E5C94;
  border-radius: 3px;
  background-color: #4D6EAB;
  color: whitesmoke;
  text-shadow: 1px 1px 1px #5D945D;
}

body #app #talks-list .searchbar .reset{
  display: inline-block;
  vertical-align: top;
  height: 30px;
  width: 40px;
  line-height: 27px;
  text-align: center;
  border: 1px solid #B31E3A;
  border-radius: 3px;
  font-size: 22px;
  font-weight: bold;
  color: rgba(0,0,0, 0.6);
  background-color: #B55061;
  color: whitesmoke;
  text-shadow: 1px 1px 1px #5D945D;
}

body #app #talks-list .talks {
  list-style-type: none;
}

body #app #talks-list .talks .talk {
  margin: 30px 0px 15px 0px;
}

body #app #talks-list .talks .talk h1{
  font-size: 28px;
  margin-bottom: 5px;
}

body #app #talks-list .talks .talk h2{
  font-size: 18px;
  margin-bottom: 5px;
}

body #app #talks-list .talks .talk .tags {
  list-style-type: none;
}

body #app #talks-list .talks .talk .tags .tag{
  display: inline-block;
  vertical-align: top;
  padding: 5px 7px 5px 7px;
  background: #72B372;
  color: whitesmoke;
  text-shadow: 1px 1px 1px #5D945D;
  margin-right: 5px;
  border-radius: 3px;
}

