/*
 * Main layout containers
 **************************************/
body {
    font-size: 16px;
}
body #app {
    font-family: "Helvetica Neue";
    width: 80%;
    max-width: 900px;
    margin: 2em auto;
    border: 1px solid #ccc;
}

/* Sessions */
body #app .sessions-list {
    list-style-type: none;
}
body #app .sessions-list .session {
    padding: 1em;
}
body #app .sessions-list .session h1 {
    font-size: 2em;
    margin-bottom: 0.3em;
    display: inline-block;
    vertical-align: top;
}
body #app .sessions-list .session h2 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
}
body #app .sessions-list .session .tags {
    list-style-type: none;
}
body #app .sessions-list .session .tags .tag {
    display: inline-block;
    padding: 0.3em 0.5em;
    background: #72B372;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #5D945D;
    margin-right: 0.3em;
    border-radius: 3px;
}

/*
 * Mobile
 **************************************/
@media all and (max-width: 600px) {
    /* Main layout containers */
    body {
        font-size: 14px;
    }
    body #app {
        width: 100%;
        margin: 0;
        border: none;
    }
    
    /* Sessions */
    body #app .sessions-list {
    }
    body #app .sessions-list .session {
        border-bottom: 1px solid #ccc;
    }
    body #app .sessions-list .session h1 {
    }
    body #app .sessions-list .session h2 {
    }
}
