/*
 * Main layout containers
 **************************************/
body {
    font-family: "Helvetica Neue";
    font-size: 16px;
}
#wrapper {
    width: 80%;
    max-width: 900px;
    margin: 0.5em auto;
    border: 1px solid #ccc;
    padding: 1em;
}
#app-content {
    padding: 1em 0;
}

/* HTML elements */
p {
}
h1 {
    font-size: 1.7em;
    margin-bottom: 0.3em;
}
h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
h3 {
}

/* Header */
header {
    text-align: center;
}
header hgroup {
}
header hgroup h1 {
    font-size: 1.3em;
}
header hgroup h2 {
    font-size: 1em;
    font-style: italic;
}
header nav {
}
header nav ul {
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    text-decoration: none;
    font-size: 1.3em;
    display: block;
    padding: 0.4em 0.6em;
    background-color: #C898C8;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #999;
    margin-right: 0.3em;
    border-radius: 3px;
}
header nav ul li a span {
}
header nav ul li.selected {
}
header nav ul li.selected a {
    background-color: #9170B2;
}

/* Sessions */
#app-content .sessions-list {
}
#app-content .sessions-list .searchbar {
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 1em 0;
}
#app-content .sessions-list .searchbar .searchTerm,
#app-content .sessions-list .searchbar .search,
#app-content .sessions-list .searchbar .reset {
    display: inline-block;
    font-size: 1.5em;
    height: 1em;
    padding: 0.3em;
    border-radius: 3px;
}
#app-content .sessions-list .searchbar .searchTerm {
    width: 60%;
    border: 1px solid black;
    box-shadow: inset 0px 0px 12px 1px rgba(20, 20, 20, 0.1);
}
#app-content .sessions-list .searchbar .search {
    background-color: #4D6EAB;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #5D945D;
}
#app-content .sessions-list .searchbar .reset {
    color: rgba(0,0,0, 0.6);
    background-color: #B55061;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #5D945D;
}
#app-content .sessions-list ul {
    list-style-type: none;
    border-top: 1px solid #ccc;
}
#app-content .sessions-list ul .session {
    padding: 1em 0;
    border-bottom: 1px solid #ccc;
}
#app-content .sessions-list ul .session h1 {
}
#app-content .sessions-list ul .session h2 {
}
#app-content .sessions-list ul .session .tags {
    list-style-type: none;
}
#app-content .sessions-list ul .session .tags .tag {
    display: inline-block;
    padding: 0.3em 0.5em;
    background: #72B372;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #5D945D;
    margin-right: 0.3em;
    border-radius: 3px;
}

#app-content .sessions-list ul .session .details {
    display: none;
    margin: 10px 0px 10px 0px;
}

/* Footer */
footer {
    font-size: 0.9em;
}
footer p {
}

/*
 * Mobile
 **************************************/
@media all and (max-width: 600px) {
    /* Main layout containers */
    body {
        font-size: 14px;
    }
    #wrapper {
        width: 100%;
        margin: 0;
        border: none;
    }
    
    /* Sessions */
    #app-content .sessions-list .searchbar .searchTerm {
        width: 50%;
    }
    #app-content .sessions-list ul .session {
        border-bottom: 1px solid #ccc;
    }
}
@media all and (max-width: 400px) {
    header nav ul li {
        width: 40%;
        margin-bottom: 0.3em;
    }
}
