/* -------------
THIS DOCUMENT SHOULD ONLY CONTAIN COMMON STYLES AND BASIC LAYOUT STYLES
-----------------*/

/* FONT IMPORT - WILL NOT WORK UNTILL WE ARE ON THE RIGHT DOMAIN */
@import url("http://fnt.webink.com/wfs/webink.css?project=048E1F9E-653B-46E4-95B5-B105967752C5&fonts=C62E2C20-BEE2-86B6-FE22-96C38B6818CF:family=AbrilText-Bold,459E4BD0-C12A-EE14-2ABB-37D7192D1AAA:family=AbrilText-ExtraBold,20615D9B-B1A8-988E-EF5E-4BF7DB5C8886:family=AbrilText-ExtraBoldItalic,3E55D2F1-1F5E-63EE-5EC0-8AE57E0AB083:family=AbrilText-Regular");

/* BASE TYPOGRAPHY */
body { font: normal normal normal 1em/1.2em 'AbrilText', Georgia, Serif; }

h1 {
    font-size: 1.7em;
    line-height: 1.3em;
    margin-bottom: 0.3em;
    }

h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    }

h3 {}

p { max-width: 550px; }

a {
    text-decoration: underline;
    font-weight: bold;
    background-color: #06F4ED;
    color: #000;
    }

a:hover { text-decoration: none; }

/* Elements */
html { 
    border-top: 10px solid #fff;
    background: #6cfffe url(../graphics/bg_dots.png) top center repeat; 
    }

body { min-width: 320px; }

/* MAIN LAYOUT CONTAINERS */
#wrapper {
    width: 96%;
    margin: 1em auto;
    border: none;
    }

/* Header */
#mastHead {
    text-align: center;
    display: table;
    margin-bottom: 20px;
    width: 100%;
    }

    #mastHead hgroup {
        float: left;
        width: 25%;
        background: url(../graphics/app_logo.jpg) top left no-repeat;
        background-size: 100%;
        text-indent: -9999em;
        overflow: hidden;
        max-width: 120px;
        height: 114px;   
        }

        #mastHead h1, #mastHead h2 { display: none; }

    /* NAV */
    #mastHead nav {
        float: right;
        width: 72%;
        }

        #mastHead nav li {
            display: inline-block;
            width: 48.5%;
            margin-bottom: 0.3em;
            margin-right: 1%;
            }
        #mastHead nav li.even, header nav li.last { margin-right: 0; }

            #mastHead nav a {
                text-decoration: none;
                font-size: 0.7em;
                text-transform: uppercase;
                font-family: Trebuchet, Verdana, sans-serif;
                line-height: 1em;
                letter-spacing: 1px;
                font-weight: normal;
                color: #333;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
                padding: 1.1em 0.6em 1em;
                background: rgb(188, 237, 109);
                border-radius: 3px;
                }

            #mastHead li.selected a, 
            #mastHead li a:hover,
            #mastHead li a:focus { background: rgb(241, 254, 126); }

/* Footer */
footer { 
    margin: 8em auto 0;
    font-size: 0.65em; 
    text-align: center;
    width: 80%; 
    }

/* REUSABLES */

    /* SESSION LIST */
    .sessions-list ul {
        list-style-type: none;
        border-top: 1px solid #fff;
        }

        .sessions-list li {
            padding: 1em 0;
            border-bottom: 1px solid #fff;
            }

            .favourite {
                /* TODO: ADD STAR ICON; CHECKED AND UNCEHCKED */
                float: left;
                margin-top: 0.6em;
                margin-right: 1em;
                width: 22px;
                height: 22px;

                -webkit-appearance: none;
                -moz-appearance: none;
                background: transparent url(../graphics/fav_no.png) no-repeat;
                border: 0; 
                }

            .favourite:checked {
                background: url(../graphics/fav_yes.png);
                }

            .sessions-list h1 {
                display: inline;                
                }

            .sessions-list h2 {
                display: inline;
                font-size: 0.8em;
                font-family: Trebuchet, Verdana, sans-serif;
                }

    /* TAGS */
    .tags { 
        list-style-type: none; 
        margin-top: 8px;
        }

        .tag {
            display: inline-block;
            padding: 0.3em 0.5em;
            background: rgb(155, 229, 153);
            color: #000;
            font-size: 0.7em;
            font-family: Trebuchet, Verdana, sans-serif;
            margin-right: 0.3em;
            border-radius: 3px;
            cursor: pointer;
            }

        .tag:hover, .tag:focus { background: rgb(241, 254, 126); }

/* SEARCH */
.searchbar {
    text-align: center;
    text-decoration: none;
    margin: 1.5em 0;
    position: relative;
    width: 100%;
    }
    
    .searchTerm,
    .search,
    .reset {
        display: inline-block;
        font-size: 0.8em;
        font-family: Trebuchet, Verdana, sans-serif;
        height: 1em;
        padding: 0.9em 0;
        border-radius: 3px;
        }

    .searchTerm {
        width: 72%;
        text-indent: 2%;
        float: left;
        border: 0;
        box-shadow: inset 0px 0px 12px 1px rgba(20, 20, 20, 0.1);
        }

    .search {
        background: rgb(155, 229, 153);
        width: 25%;
        padding-bottom: 1em;
        text-decoration: none;
        font-weight: normal;
        text-transform: lowercase;
        color: #000;
        cursor: pointer;
        /* TODO: ADD SEARCH ICON */
        }
    .search:hover, .search:focus { background: rgb(241, 254, 126); }

    .reset {
        /* TODO: ADD CLEAR ICON */
        color: #ccc;
        text-decoration: none;  
        background-color: #ccc;
        color: whitesmoke;
        position: absolute;
        left: 64.5%;
        top: 7px;
        padding: 0;
        border-radius: 30px;
        display: block;
        width: 20px;
        height: 20px;
        }
    .reset:hover, .reset:focus { color: #000; }


@media all and (min-width: 400px) {
    
}/* /media all min-width 400px  */

/* FULLWIDTH */
@media all and (min-width: 675px) {

    body { padding-top: 2em; } 

    #wrapper {
        width: 80%;
        max-width: 675px;
        }

    #app-content { margin-top: 2em; }

    .searchbar { max-width: 300px; }

    #mastHead hgroup { 
        width: 100%;
        max-width: 100%;
        text-indent: 0; 
        height: 125px;
        margin-bottom: 20px;
        background-size: auto;
        text-align: left;
        padding-top: 30px;
        }

        #mastHead h1, #mastHead h2 {
            display: block;
            margin-left: 180px;
            margin-bottom: 0;
            text-decoration: none;
            }

        #mastHead nav {
            width: 100%;
            float: none;
            clear: both;
            }

            #mastHead nav li, #mastHead nav li.even, #mastHead nav li.odd {
                width: 23%;
                margin-right: 2%;
                }

            #mastHead nav li.last { margin-right: 0;
    
} /* /media all min width 600px */