/* Sessions */
.sessions-list ul {
    list-style-type: none;
    border-top: 1px solid #fff;
    }

    .sessions-list li {
        padding: 1em 0;
        border-bottom: 1px solid #fff;
        }

/* DETAILS */
.session .details {
    display: none;
    margin: 10px 0px 10px 0px;
    }


@media all and (min-width: 600) {


} /* /media all min-width 600px */