<!DOCTYPE html>
<html>
	<head>
		<title>Talks list</title>
		
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		
		<link rel="stylesheet" type="text/css" href="css/layout.css">
		
		<script type="text/javascript">
			window.bootstrapData = {
				talks: [
					{
						title: "JavaScript - The most important language in the world",
						speaker: "Alex York",
						tags: [ "html5", "js", "programming" ]
					},
					{
						title: "HTML5 and the future",
						speaker: "Pål Strøm",
						tags: [ "html5", "js", "css3" ]
					},
					{
						title: "Responsive Web Design",
						speaker: "Hege Røkenes",
						tags: [ "html5", "css3", "responsive-design" ]
					},
					{
						title: "Why I love Bill Murray",
						speaker: "Andre Tangen",
						tags: [ "bill-murray", "actors" ]
					}
				]
			}
		</script>
	
	</head>
	<body>
	
		<section id="app"></section>
		
		<!-- talk view template -->
		<script id="talk-template"type="text/template">
			<h1><%= title %></h1>
			<h2><%= speaker %></h2>
			<ul class="tags">
				<% _.each(tags, function( tag ){ %>
					<li class="tag"><%= tag %></li>      
				<% }); %>
			</ul>
		</script>
		
		<!-- talksList view template -->
		<script id="talks-list-template"type="text/template">
			<div class="searchbar">
				<input type="text"/>
				<div class="search">search</div> 
				<div class="reset">x</div>     
			</div>
			<ul class="talks"></ul>  
		</script>
	
        <script type="text/javascript" src="js/vendor/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/vendor/microTemplating.js"></script>
        <script type="text/javascript" src="js/vendor/linq.min.js"></script>
	</body>
</html>